.about-container {
    display: flex;
    height: 100vh;
    gap: 10vw;
    margin-top: 20vh;
    padding: 5rem 10rem;
    z-index: 20;
    position: relative;
    color: white;
    font-family: 'DM Sans', sans-serif;
}


@media (max-width: 900px) {
}   