.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    gap: 10vw;
    z-index: 20;
    position: relative;
    color: white;
    font-family: 'DM Sans', sans-serif;
}

.about-container-text {
    padding: 0rem 0rem 0rem 10rem;
}

.about-title {
    margin-top: 7rem;
    font-size: 3vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;;
}


@media (max-width: 900px) {
}   