.about-container {
    display: flex;
    flex-direction: center;
    align-items: center;
    padding: 5vw;
    height: 100vh;
    gap: 10vw;
    margin: 0;
    z-index: 20;
    position: relative;
    background-color: oklch(55.8% .288 302.321);
    color: rgb(26, 25, 25);
    font-family: 'DM Sans', sans-serif;
}


@media (max-width: 900px) {
}