.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 10vw;
    padding: 0;
    margin: 0;
    z-index: 20;
    position: relative;
}

.header-image {
    width: auto;
    flex: 0 0 auto;
    height: 85vh;
    align-self: left;
    border-radius: 15px;
    filter: grayscale(100%);
}

.header-text {
    padding: 0;
    font-size: 10vw;
    z-index: 4;
    text-align: center;
    font-weight: 800;
    font-family: 'DM Sans', sans-serif;
    width: 100%;
}

.header-text-alt {
    color: #c2c2c2;
}

.header-super-text {
    font-size: 2vw;
    font-weight: 500;
    font-family: 'DM Mono', sans-serif;
    margin-bottom: -3vw;
    padding-left: auto;
    position: relative;
}

.rotating-skills-container {
    margin-right: -3vw;
    position: relative;
    top: 0;
}

.header-lower-text {
    font-size: 2.5vw;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    margin-right: 1vw;
    font-weight: 700;
    white-space: nowrap;
    margin-left : -4vw;
    
}

.work {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 0.5vw;
    text-decoration-color: #e7e7e7;
    text-decoration-style: dashed;
}

.rotating-text {
    background-color: #e7e7e7;
    color: black;
    font-family: "DM Sans", sans-serif;
    font-weight: bolder;
    font-size: 2.5vw;
}

@media (max-width: 768px) {
    .header-container {
        height: 100lvh;
        flex-direction: column;
        width: 100vw;
    }

    .header-image {
        height: 50vh;
        width: auto;
    }

    .header-super-text {
        font-size: 3vh;
        margin-bottom: -3vh;
        text-align: center;
        position: relative;
        left: 10%;
        z-index: 99;
        padding: 0;
    }

    .header-text {
        font-size: 10vh;
        text-align: center;

    }

    .header-lower-text {
        font-size: 3vh;
        margin-right: 1vw;
        margin-left: 0;
    }

    .rotating-skills-container {
        margin-right: -3vw;
        position: relative;
        top: 0;
        margin-left: -5vh;
        margin-right: -5vh;
    }

    .rotating-text {
        font-size: 2vh;
        white-space: nowrap;
        position: relative;
    }

    .work {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 0.5vw;
        text-decoration-color: #e7e7e7;
        text-decoration-style: wavy;
    }
}
