.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 20;
    position: relative;
}

.projects-title {
    margin-top: 0;
    position: absolute;
    top: 3vw;
    left: 5vw;
    font-size: 3rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
}

.projects-list-container {
    width: 100%;
    height: 75%;
}