.techstack-container {
    height: 100vh;
    padding: 0 1rem;
    margin: 0;
    z-index: 20;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .techstack-title {
    margin-top: 0;
    position: absolute;
    top: 3vw;
    left: 5vw;
    font-size: 3rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
  }

  .excards-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  